{% extends "layout.html" %}

{% block content %}
<figure class="text-center" style="color: white;">
    <blockquote class="blockquote">
        <div id="divParraf">
            <p class="lead col-8 mx-auto text-center " style="color: white;">
                <b><h3>Hola, me llamo Emmanuel Tavolaro, soy Tecnico Superior en Programacion,
                me encuentro trabajando en una empresa de BI.</h3></b>
            </p>
            <figcaption class="blockquote-footer p-4" style="color: white;">
                La programacion cambio <cite title="Source Title">mi paradigma</cite>
            </figcaption>
        </div> 
    </blockquote>
</figure>

{% endblock %}

